body{
	background-image: url('plane.svg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}
#person{
	position:absolute;
	height:200px;
	top: 300px;
	left: 300px;
}
.tree{
	position:absolute;
	height:300px;
	top: 400px;
}
.tree1{
	left: 1500px;
}
.tree2{
	left: 1900px;
}
.tree3{
	left: 2300px;
}
.tree4{
	left: 2600px;
}
.tree5{
	left: 2900px;
}
.tree6{
	left: 3150px;
}
.tree7{
	left: 3400px;
}
.tree8{
	left: 3650px;
}
.tree9{
	left: 3850px;
}
.tree10{
	left: 4050px;
}