body{
	background-image: url('plane.svg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}
#person{
	position:absolute;
	height:200px;
	top: 300px;
	left: 300px;
}
.tree1{
	position:absolute;
	height:500px;
	top: 500px;
	left: 1900px;
}
.tree2{
	position:absolute;
	height:500px;
	top: 500px;
	left: 2100px;
}