body{
	background-image: url('plane.svg');
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
}
.person{
	height:200px;
}
.tree1{
	height:300px;
}
.tree2{
	height:300px;
}